.table {
    background-color: green;

    width: 500px;
    height: 300px;
    border-radius: 200px;
}


.card {
    background-color: #19de54;
    border-radius: 0.5em;
    list-style-type: none;
    height: 5em;
    width: 3em;
    text-align: center;
    background-image: ;

}

